<%= form_for(@cliente) do |f| %>

  <% if ChatDepartamento.count > 0 %>
	  <div class="field">
		<%= label_tag 'departamento_id', 'Departamento: ' %>
	  	<%= select_tag "departamento_id", 
	  			options_for_select(ChatDepartamento.order('nome ASC').collect {|e| [ e.nome, e.id ] }),
	  			{:prompt => '-- Selecione o departamento --'} %>
	  </div>
	  
	  <script type="text/javascript">
			var vDepartamento = new LiveValidation('departamento_id', {onlyOnBlur:true, validMessage:" "});
			vDepartamento.add( Validate.Presence, { failureMessage: "Por favor, selecione o departamento que deseja contatar" } );
	  </script>
	  
  <% end %>

  <div class="field">
	<% nome_padrao = 'Nome' %>
    <%= f.text_field :nome, :title => nome_padrao, :class => 'titulo_clicavel' %>
  </div>
  <div class="field">
	<% email_padrao = 'E-mail' %>
    <%= f.text_field :email, :title => email_padrao, :class => 'titulo_clicavel' %>
  </div>
  <div class="field">
	<% telefone_padrao = '(xx) xxxx-xxxx' %>
    <%= f.text_field :telefone, :title => telefone_padrao, :class => 'titulo_clicavel',
		:onkeypress => "mascara(this, checaTelefone)", :maxlength => 14, :size => 30
	%>
  </div>
  <div class="field">
	<% mensagem_padrao = 'Digite sua mensagem' %>
    <%= text_area_tag :mensagem, mensagem_padrao, :title => mensagem_padrao, :class => 'titulo_clicavel', :size => "40x10" %>
  </div>
  <div class="actions">
	<% label_submit = (ChatSession.atendimento_online?) ? 'Iniciar conversa' : 'Enviar mensagem' %>
    <%= f.submit :class => :button, :value => label_submit %>
  </div>

<% end %>

<script type="text/javascript">

	var vNome = new LiveValidation('chat_cliente_nome', {onlyOnBlur:true, validMessage:" "});
	vNome.add( Validate.Presence, { failureMessage: "Por favor, digite seu nome" } );
	vNome.add( Validate.Exclusion, { within: [ 'Nome' , 'nome', 'eu' ], failureMessage: "Por favor, digite seu nome correto" } );
	
	var vEmail = new LiveValidation('chat_cliente_email', {onlyOnBlur:true, validMessage:" "});
	vEmail.add( Validate.Presence, { failureMessage: "Por favor, digite seu email" } );
	vEmail.add( Validate.Email, { failureMessage: "Formato de email incorreto" } );
	
	var vMensagem = new LiveValidation('mensagem', {onlyOnSubmit:true, validMessage:" "});
	vMensagem.add( Validate.Presence, { failureMessage: "Por favor, preencha a mensagem" });
	
	var vTelefone = new LiveValidation('chat_cliente_telefone', {onlyOnSubmit:true, validMessage:" "});
	vTelefone.add( Validate.Presence, { failureMessage: "Por favor, digite seu telefone corretamente" });

	<% if ChatDepartamento.count > 0 %>
		var vDepartamento = new LiveValidation('departamento_id', {onlyOnBlur:true, validMessage:" "});
		vDepartamento.add( Validate.Presence);
	<% end %>

</script>