<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.nome_empresa %></title>
    <%= stylesheet_link_tag 'qw3/template', 'qw3/template.backend', 'qw3/notice', 'qw3chat/application', 'qw3chat/backend' %>
    <%= javascript_include_tag :defaults, 'qw3/checkbox', 'qw3/mascara', 'qw3/notice', 'qw3/titulo_clicavel', 'qw3/pagination', 'qw3chat/jquery.cookie' %>
    
    <% if ChatSession.sessao_aberta current_administrator_administrador.id %>
    	<%= javascript_include_tag 'qw3chat/chat.webkit.notification', 'qw3chat/chat.notify' %>
    <% end %>
    
    <%= csrf_meta_tag %>

  </head>

  <body>
    <div id="header">
      <div id="logo">
        <%= link_to image_tag(Settings.logo), '/administrator', :target => '_self' %>
      </div>
      <div id="welcome">
      	<%= render 'administrator/chat_sessions/botao' %>
        <%= render 'administrator/chat_sessions/usuario' %>
      </div>
    </div>
    
    <% if !notice.nil? %>
      <div id="notice">
        <%= notice %>
      </div>
    <% end %>
    
    <div id="leftbar">
      <%= render 'template/leftbar' %>
    </div>
    
    <div id="contentbody">      
      <%= yield %>
    </div>
    
	</div>
    
  </body>
</html>
