<!DOCTYPE html>
<html>
	<head>
	  <title><%= Settings['QW3CHAT.nome_empresa'] %> - Atendimento de cliente</title>
	  <%= stylesheet_link_tag 'qw3/template', 'qw3chat/application', 'qw3chat/chat' %>
	  <%= javascript_include_tag :defaults , 'qw3chat/chat', 'qw3chat/chat.client.close' %>
	  <%= csrf_meta_tag %>	
	</head>
	
	
	<body>		
		<div class="component">
			<%= yield %>
		</div>
	</body>
</html>
