<!DOCTYPE html>
<html>
	<head>
	  <title><%= Settings['QW3CHAT.nome_empresa'] %> - Atendimento online</title>
	  <%= stylesheet_link_tag 'qw3chat/frontend', 'qw3/notice' %>
	  <%= javascript_include_tag :defaults %>
	  <%= javascript_include_tag 'qw3/livevalidation', 'qw3/mascara', 'qw3/notice', 'qw3/titulo_clicavel' %>
	  <%= csrf_meta_tag %>	
	</head>
	
	<body>
		
		<% if !notice.nil? %>
			<div id="notice">
				<%= notice %>
			</div>
		<% end %>
		
		<div class="component">
			<%= yield %>
		</div>
	</body>
</html>
