<div class="chat">
	<div class="esquerda">
		<div class="cliente">
				<%= chat.chat_cliente.nome %>
		</div>
		<div class="data"><%= chat.inicio.strftime "%d/%m/%Y %H:%M:%S" %></div>
		<div class="cliente_email">
			<%= chat.chat_cliente.email %>
		</div>
		<div class="cliente_telefone">
			<%= chat.chat_cliente.telefone %>
		</div>
		<div class="mensagem"><%= chat.primeira_mensagem %></div>
	</div>
	<div class="direita">
		<div class="status">
			Status:
			<span>
				<%= chat.status_to_s %>
			</span>
			<% unless chat.chat_departamento.nil? %>
				Interesse:
				<span><%= chat.chat_departamento.nome %></span>
			<% end %>
		</div>
		<ul class="botoes">
			<li class="atender">
				<% if true #chat.esperando? %>
					<%= link_to "#", :chat_id => chat.id do %>
						<span>Atender</span>
					<% end %>
				<% end %>
			</li>
			<li class="finalizar">
				<% if (!chat.finalizado? and chat.atendente_id == current_administrator_administrador.id) or (chat.esperando?) %>
					<%= link_to "/administrator/chats/#{chat.id}/finalizar" do %>
						<span>Encerrar</span>
					<% end %>
				<% end %>
			</li>
			<li class="visualizar">
				<% if chat.finalizado? %>
					<%= link_to "/administrator/chats/#{chat.id}/visualizar" do %>
						<span>Visualizar</span>
					<% end %>
				<% end %>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>