<li>
	<%= link_to administrator_chats_path(:status => Chat::ESPERANDO), :class => "em-espera" do %>
		<span>Em espera</span>
	<% end %>
</li>

<li>
	<%= link_to administrator_chats_path(:status => Chat::EM_ATENDIMENTO), :class => "em-atendimento" do %>
		<span>Em andamento</span>
	<% end %>
</li>

<li>
	<%= link_to administrator_chats_path(:status => Chat::FINALIZADO), :class => "finalizados" do %>
		<span>Atendimentos encerrados</span>
	<% end %>
</li>

<% if can? :manage, :chat %>
	
	<li>
	  <%= link_to '/administrator/configuracao_atendimento/editar' do %>
	    <span>Configurações</span>
	  <% end %>
	</li>
	
	<%= if can? :manage, ChatAtendente %>
	  <li>
	    <%= link_to '/administrator/chat_atendentes' do %>
	      <span>Atendentes</span>
	    <% end %>
	  </li>
	
	  <li>
	    <%= link_to '/administrator/chat_atendentes/new' do %>
	      <span>Adicionar atendente</span>
	    <% end %>
	  </li>
	<% end %>
	
	<%= if can? :manage, ChatDepartamentos %>
	  <li>
	    <%= link_to '/administrator/chat_departamentos' do %>
	      <span>Departamentos</span>
	    <% end %>
	  </li>
	
	  <li>
	    <%= link_to '/administrator/chat_departamentos/new' do %>
	      <span>Adicionar departamento</span>
	    <% end %>
	  </li>
  <% end %>

<% end %>
