<div class="page_header">
	<h1>Configurações do atendimento online</h1>
</div>

<div class="inside">
	
	<%= form_tag '/administrator/configuracao_atendimento/salvar', :multipart => true do %>
		
		<div class="esquerda">
			
			<div class="field">
				<%= label_tag :nome_empresa %> 
				<%= text_field_tag :nome_empresa, Settings.nome_empresa %>
			</div>
			
			<div class="field">
				<%= label_tag :cor_topo %> 
				<%= text_field_tag :cor_topo, Settings.cor_topo %>
			</div>
			
			<div class="field">
				<%= label_tag :logo_upload, 'Logomarca' %> 
				<%= file_field_tag :logo_upload %>
  				<%= image_tag Settings.logo, :width => "200", 
					:style => "border: 1px solid #888888; margin: 20px; display:block;" %>
			</div>
			
		</div>
		
		<div class="direita">
			
			<div class="field">
				<%= label_tag :texto_online %> 
				<%= text_area_tag :texto_online, Settings.texto_online, {:size => "50x10"} %>
			</div>
			
			<div class="field">
				<%= label_tag :texto_offline %> 
				<%= text_area_tag :texto_offline, Settings.texto_offline, {:size => "50x10"} %>
			</div>
			
		</div>
		<div class="clear"></div>
		
		<div class="actions">
			<%= submit_tag 'Salvar', :class => :button %>
		</div>
		
	<% end %>
	
</div>
